/*＝＝＝＝＝ 全体の設定 ＝＝＝＝＝＝ */
body {
  margin: 0;
  background-image: url(background2.jpg);
  background-size: cover;
}

/*＝＝＝＝＝ 検索機能全体 ＝＝＝＝＝＝ */
.searchBox h1 {
  color: black;
  font-size: 60px;
  font-family: futura;
  margin: 0;
}

.searchBox h2 {
  font-family: Futura;
  font-size: 20px;
}
.searchBox h3 {
  font-size: 16px;
}

.searchBox h4 {
  font-size: 10px;
}


.searchBox {
  background: #fff;
  width: 500px;
  padding: 30px;
  border: 10px solid #008080;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: font-family: futura;;
}

/* 入力欄 */
.inputBox {
  margin-bottom: 30px;
}

.inputText {
  height: 26px;
  width: 200px;
}

.inputButton {
  background: #008080;
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}


/* 出力欄 */
.outputBox table {
  background-color: #f0f8ff;
  border-collapse: collapse;
  width: 100%;
}

.outputBox td {
  border: 1px solid #000000;
  padding: 10px;
}

.outputBox th {
  color: #ffffff;
  width: 130px;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #008080;
  text-align: left;
}


